.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 27px 52px 33px;
  background-color: white;
  border-radius: 12px;
  height: 164px;
  letter-spacing: 0.08em;
}

.ticker {
  font-size: 20px;
  color: #5A8BAE;
  display: inline-block;
  
}

.currency {
  display: inline-block;
  font-size: 20px;
  color: #FBBC05;
  margin-left: 12px;

}

.currencyContainer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-bottom: 1px solid #BBBBBB;
  ;
}

.select {
  margin-left: 100px;
}

.name {
  display: flex;
}

textarea:focus, input:focus{
  outline: none;
}

input[type="number"] {
  border-style: none;
}

input[type="text"] {
  border-style: none;
} 

input {
  font-size: 24px;
  font-weight: 300;
  color: #474747;
}
input::placeholder {
  font-size: 12px;
  font-weight: 300;
}
