.ticker {
  color: #5A8BAE;
  font-size: 20px;
}

.currency {
  font-size: 16px;
  color: #FBBC05;
}

.active {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
}

.row {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
}
