
body {
  background-color: #BBBBBB;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.modal {
  width: auto !important;
  border-radius: 12px !important;
  /* height: 430px !important; */
}
